*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box ;
    font-family: 'Gilroy';
}
html,body{
    height: 100%;
    width: 100%;
}




body{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:cornflowerblue;
}
#card{
    height: 400px;
    width:400px;
    background-color: white;
}
#card img{
    height: 50%;
    width: 100%;
    object-position: center;
    border-radius: 10px;
  }
  #card h1{
    font-size: 25px;
    margin: 10px 0px;
  }
  #card h5{
    font-size: 20px;
    color: red;
    margin: 20px;
  }
   #card button{
    background-color:navy;
    padding: 12px 20px;
    font-weight: 700;
    color: #ffffff;
  
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  